/*---MAIN---*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(/img/mainFoto/FondoDePantalla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100;
  padding-bottom: 50px;
  margin-top: 5px;
    h2 {
    color: rgb(255, 255, 255);
    color: white;
    font-size: 55px;
    font-style: oblique;
    font-weight: 500px;
    font-family: 'Abyssinica SIL', serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  img{
    width: 310px;
    height: 310px;
    transition: 1s;
    &:hover{ 
      transform: scale(1.1);
    }
  }
}