/*---PARRAFO---*/
.parrafoInicio {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15PX;
  background-color: black;
  font-size: 25px;
  font-style: oblique;
  font-weight: 500px;
  font-family: 'Abyssinica SIL', serif;
}