* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-style: oblique;
  font-family: o;
  font-size: 17vw;
  text-align: center;
  background: url(/img/headerFoto/iphone_14_pro_hero__e4ivycyx40k2_large.jpg);
  background-position: bottom;
  background-size: 100%;
  color: white;
  padding: 50px;
}